@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --shadow-light: 1px 1px 6px rgba(0,0,0,.25);
    --color-white: #ffffff;
    --color-gray: #c9c9c9;
    --color-black-secondary: #0d0d0d;
    --color-pink-logo: #e00087;
    --color-pink: #E33FA1;
    --color-light-pink: #c471ed;
    --color-light-blue: #36C6F0;
    --color-primary: #059DFF;
    --color-secondary: #FB5343;
    --color-secondary-alt: #f64f59;
    --color-tertiary: #6549D5;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Poppins", serif;
  }
  
  #contact {
    background-image: url('../images/bg_contact.png') no-repeat;
  }
  
  .description h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .description p {
    font-size: 0.950rem;
  }
  
  .description ul {
    margin-bottom: 2px;
    list-style-type: square;
    padding-left: 16px;
  }
  
  .description a{
    background: linear-gradient(95deg, var(--color-light-blue) 15%, var(--color-light-pink) 45%, var(--color-secondary-alt) 75%, var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description a:hover{
    background: var(--color-pink-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s
  }
  
  .description h3 {
    color: #050505;
  }
  
  .description p {
    color: #0d0d0d !important;
  }
  
  .dark .description p,  .dark .description li{
    color: #cecdcd !important;
  }
  
  .dark .description h3 {
    color: #e2e2e2;
  }
}

@layer components {
  a.btn-default,button.btn-default,div.btn-default{
    padding: 9px 30px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    background: linear-gradient(95deg, var(--color-primary) 5%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%);
    background-size: 200% 100%;
    background-position: 35% center;
    transition-duration: .3s;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-shadow: var(--shadow-light);
    text-transform: capitalize;
    display: inline-block;
    width: auto;
    transition: background-position 0.5s ease-in-out;
  }
  
  a.btn-default:hover,button.btn-default:hover,div.btn-default:hover {
    background-position: right center;
    border: none;
  }
}

@layer utilities {
  .text-gradient{
    background: linear-gradient(95deg, var(--color-light-blue) 15%, var(--color-light-pink) 45%, var(--color-secondary-alt) 75%, var(--color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

