@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-light: 1px 1px 6px rgba(0,0,0,.25);
  --color-white: #ffffff;
  --color-gray: #c9c9c9;
  --color-darkPrimary: #000;
  --color-darkSecondary: #0d0d0d;
  --color-lightPrimary: #F8F9FA;
  --color-lightSecondary: #ebeaea;
  --color-pinkLogo: #e00087;
  --color-pink: #E33FA1;
  --color-lightPink: #c471ed;
  --color-lightBlue: #36C6F0;
  --color-primary: #059DFF;
  --color-secondary: #FB5343;
  --color-secondaryAlt: #f64f59;
  --color-tertiary: #6549D5;
}

/* Declarando a custom utility fora dos blocos @layer */
@utility text-gradient {
  background: linear-gradient(95deg, var(--color-lightBlue) 15%, var(--color-lightPink) 45%, var(--color-secondaryAlt) 75%, var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer base {
  body {
    color: var(--color-white);
    background: var(--color-darkPrimary);
    font-family: "Poppins", serif;
  }

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 900;
  }

  .subtitle {
    font-size: 1rem;
    line-height: 1.5rem;    
  }

  .dark .subtitle{
    color: #b5b5b5;
  }


  /*_____Introduction_____*/
  #introduction h1{
    @apply text-gradient;
  }

  #introduction p {
    @apply dark:text-gray-200 text-black mb-6 max-w-2xl text-center;
  }


  /*_____Contact_____*/
  #contact {
    background-image: url('../images/bg_contact.png') no-repeat;
  }



  /*_____Modal_____*/
  .dark .description p, .dark .description li {
    color: #cecdcd !important;
  }

  .dark .description h3 {
    color: #e2e2e2;
  }

  .description h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #050505;
  }

  .description p {
    font-size: 0.950rem;
    color: #0d0d0d !important;
  }

  .description ul {
    margin-bottom: 2px;
    list-style-type: square;
    padding-left: 16px;
  }

  .description a {
    @apply text-gradient;
  }

  .description a:hover {
    background: var(--color-pinkLogo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.6s;
  }

  /*_____LinkedIn_____*/
  .linkedinsection span{
    @apply text-gradient;
  }
}

@layer components {
  .btn-default {
    padding: 9px 30px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    background: linear-gradient(95deg, var(--color-primary) 5%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%);
    background-size: 200% 100%;
    background-position: 35% center;
    transition-duration: .3s;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-shadow: var(--shadow-light);
    text-transform: capitalize;
    display: inline-block;
    transition: background-position 0.5s ease-in-out;
  }

  .btn-default:hover {
    background-position: right center;
    border: none;
  }


}
